{% extends 'base.html.twig' %}

{% block title %}Mon Blog Pas Cringe! - Crée un nouveau post{% endblock %}

{% block body %}
    <h1>Crée un nouveau post</h1>

    {% include "admin/post/_from.html.twig" %}
{% endblock %}