{% extends 'base.html.twig' %}

{% block title %}Mon Blog Pas Cringe! - Page d'accueil{% endblock %}

{% block body %}

    <a href="{{ path('app_admin_post_create') }}">Crée un post</a>

{% endblock %}