{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Post</h1>
    <a href="{{ path("app_admin_post_create") }}">Crée un post</a>
    <h1>catégorie</h1>
    <a href="{{ path("app_admin_category_create") }}">Crée une nouvelle catégorie</a>
{% endblock %}
