<footer class="footer">
    <div>
        <p>Design by <a href="https://user9381.github.io/portfolioIUT/" TARGET="_blank">Rudy Boullier</a> et <a href="http://vps-4c0fe383.vps.ovh.net/" TARGET="_blank">Melvyn Delpree</a></p></div>
    <div><a href="https://iut.univ-lyon1.fr/" TARGET="_blank"><img src="/iut.png" alt="logoIUT" class="logoIUT"> </a></div>
</footer>