{% extends 'base.html.twig' %}

{% block title %}Mon Blog Pas Cringe! - Catégorie{% endblock %}

{% block body %}


    <a href="{{ path('app_admin_category_create') }}">Crée une nouvelle catégorie</a>


{% endblock %}