{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div id="error">
        <img src="/lostMen.jpg" alt="Lost men">
        <h2> Page non trouvé</h2>
        <p> Erreur 404</p>
    </div>
{% endblock %}